<div class="block1">
    <div class="container">
        <div class="block1__inner">
            <img src="images/block1.jpg" alt="" class="block1__logo">
            <div class="block1__box">
                <div class="block1__title">Возможность оплаты с помощью пенсионных</div>
                <p class="block1__text">
                    В министерстве назвали условия для досрочного снятия пенсионных накоплений. Для определенного
                    возраста определен "порог достаточности", это сумма, которая должна оставаться на счете. <br><br>

                    Остальные средства можно будет использовать на лечение, жилье и передачу в финкомпании.
                </p>
            </div>
        </div>
    </div>
</div>