<div class="card1 _card2 _horizontal">
    <div class="card1__image">
        <img src="images/det-bot2.png" alt="gallery">
    </div>
    <div class="card1__wrapper">
        <h5 class="card1__title">
            ЖК Sezim Qala - 2 , Smart Standard
        </h5>
        <div class="card1__row">
            <div class="card1__category">
                Неоклассика
            </div>
            <div class="card1__address">
                г. Нур-Султан, ул. Е 22, 4
            </div>
        </div>
        <p class="card1__text">
            Водопроводчики, плиточники, электрики, сварщики, разнорабочие, грузчики, монтеры, оконщики — у нас есть все необходимые специалисты.
            <br>
            <br>
            Обратившись к нам вы больше не столкнетесь с необходимостью поиска рабочих. 9 из десяти наших сотрудников работают с нами более двух лет...
        </p>
    </div>
</div>