<div class="client-comment">
    <div class="client-comment__avatar">
        <img src="images/avatar.jpg" alt="" class="dp-block">
        <a class="client-comment__video" href="#">
            <div></div>Видеоотзыв
        </a>
    </div>
    <div class="client-comment__box">
        <div class="client-comment__quotes"></div>
        <div class="client-comment__name">
            Севиль
        </div>
        <div class="client-comment__address">
            Нур-Султан, Казахстан
        </div>
        <div class="client-comment__desc">
            ЖК Sezim Qala 2 / 3-х комнатная кв. / Smart Standard
        </div>
        <p class="client-comment__text">
            Мы приобрели квартиру в 2018 году на этапе еще строительства. 
            <br>
            <br>
            И соответственно еще больше года ждали пока дом достроится, т.е. условно говоря, когда ты занимаешься ремонтом сам, то ты вынужден туда-сюда ездить, строители постоянно что-то забыли и тратиться очень много времени, очень много ресурсов в плане того же топлива и т.д. 
            <br>
            <br>
            То есть какие-то проседы на работе начинаются...
        </p>
        <a href="#" class="client-comment__link">
            Читать далее
        </a>
    </div>
</div>