<div class="condition">
    <div class="container">
        <div class="condition__inner">
            <p class="condition__text">
                "Если в договоре банковского займа будет предусмотрено, например, приобретение квартиры на первичном
                рынке в черновой плюс ремонт. Либо в рефинансировании займа, либо в погашении - эта цель была сразу
                предусмотрена. Сейчас в правилах, которые на обсуждении, вот в таком варианте", - резюмировала спикер
                СЦК.
            </p>
            
        </div>
    </div>
</div>