<div class="draft">
    <div class="draft__inner">
        <h1 class="draft__title">
            Сохранение в черновики
        </h1>
        <p class="draft__text">Вы можете сохранить все выбранные вами настройки и продолжить позже. Для того чтобы
            вернуться
            к <br> текущему прогрессу, необходимо будет перейти во вкладку «Мои ремонты» в <a href="#"
                class="blue-link">личном
                кабинете</a>. </p>
        <div class="draft__buttons">


            <button class="draft__btn button button1">Сохранить в черновики</button>
            <a class="draft__download " href="#">
                <div class="draft__download-inner  ">
                    <svg width="24" height="24">
                        <use xlink:href="images/stack/sprite.svg#link-chek"></use>
                    </svg>
                    Скачать дизайн проект
                </div>
            </a>
        </div>

    </div>
</div>