<div class="mobile-menu filter-menu _active">
    <div class="mobile-menu__header">
        <div class="bahandi _close">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L15 15M15 1L1 15" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
        </div>
        <div class="filter-menu__title">
            Фильтр
        </div>
    </div>
    <div class="filter-menu__wrapper">
        <div class="showroom-filter__item _active">
            <button class="showroom-filter__item-current">
                Выбор города
            </button>
            <ul>
                <li>
                    <a href="#">
                        Алматы
                    </a>
                </li>
                <li class="_selected">
                    Нур-Султан
                </li>
                <li>
                    <a href="#">
                        Павлодар
                    </a>
                </li>
                <li>
                    <a href="#">
                        Семей
                    </a>
                </li>
            </ul>
        </div>
        <div class="showroom-filter__item _active">
            <button class="showroom-filter__item-current">
                Пакет ремонта
            </button>
            <ul>
                <li class="_title">
                    Экспресс
                </li>
                <li>
                    <a href="#">
                        Базовый
                    </a>
                </li>
                <li class="_selected">
                    Неоклассика
                </li>
                <li>
                    <a href="#">
                        Лофт
                    </a>
                </li>
            </ul>
            <ul>
                <li class="_title">
                    Комфорт
                </li>
                <li>
                    <a href="#">
                        Базовый
                    </a>
                </li>
                <li>
                    <a href="#">
                        Неоклассика
                    </a>
                </li>
                <li>
                    <a href="#">
                        Лофт
                    </a>
                </li>
            </ul>
            <ul>
                <li class="_title">
                    Прайм
                </li>
                <li>
                    <a href="#">
                        Прайм
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>