<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <div class="footer__logo">
                    <a href="#"> <img src="images/footer-logo.png" alt="">
                    </a>
                </div>
                <ul class="footer__nav">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Конструктор</a></li>
                    <li><a href="#">Пакеты</a></li>
                    <li><a href="#">Как мы работаем</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <div class="footer__socials">
                    <a class="footer__socials-item" href="#">
                        <svg width="12" height="22">
                            <use xlink:href="images/stack/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                    <a class="footer__socials-item" href="#">
                        <svg width="20" height="20">
                            <use xlink:href="images/stack/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </div>
                <button class="footer__btn"> <svg width="24" height="24">
                        <use xlink:href="images/stack/sprite.svg#log"></use>
                    </svg>
                    <span>Войти</span>
                </button>

            </div>
            <div class="footer__copyright">
                <span>© 2021. Все права защищены. *</span>
                <span>Политика конфиденциальности</span>
            </div>
        </div>
        
    </div>
</footer>