<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="#"><img src="images/logo.png" alt=""></a>
            </div>
            <ul class="header__nav">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Конструктор</a></li>
                <li><a href="#">Пакеты</a></li>
                <li><a href="#">Как мы работаем</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <div class="header__tel"><a href="tel:+77750075959">+7 (775) 007 59 59</a></div>
            <div class="header__auth"><button>Войти</button></a></div>
        </div>
    </div>
</header>