<div class="info">
    <div class="container">
        <div class="info__inner">
            <div class="info__inner-item">
                <p>
                    Водопроводчики, плиточники, электрики, сварщики, разнорабочие, грузчики, монтеры, оконщики — у нас
                    есть все необходимые специалисты, поэтому обратившись к нам вы больше не столкнетесь с
                    необходимостью поиска рабочих. 9 из десяти наших сотрудников работают с нами более двух лет.
                </p>
                <p>
                    Мы ценим опыт наших рабочих и дорожим коллективом, поэтому занимаемся непрерывным обучением и
                    повышением квалификации наших специалистов.

                </p>
            </div>
            <div class="info__inner-item">
                <p>
                    Более того, мы полностью берем на себя вопросы закупки, а самое главное, доставки всего
                    строительного материала, вывоза строительного мусора и уборки помещения. Безусловно, наиболее
                    подходящие вам материалы выбираете вы, в этом удовольствии мы не будем вам отказывать.
                </p>
                <p>
                    Но с радостью посоветуем лучшее сочетание, подскажем о распродаже или хорошем предложении в одном из
                    магазинов города. Вопросы транспорта и грузчиков мы тоже берем на себя.
                </p>

            </div>
        </div>
    </div>
</div>