<a href="#" class="package">
    <div class="package__image">
        <img src="images/show1.png" alt="">
    </div>
    <h5 class="package__name">
        Комфорт Базовый
    </h5>
    <div class="package__price">
        <span>53 900 ₸</span>Цена за кв. м.
    </div>
    <div class="package__desc">
        <div class="package__desc-item">
            <div class="package__desc-icon">
                <svg width="39" height="39">
                    <use xlink:href="images/stack/sprite.svg#laminat"></use>
                </svg>
            </div>
            <div class="package__desc-box">
                <div class="package__desc-name">
                    ЛАМИНАТ KASTAMONU
                </div>
                <div class="package__desc-text">
                    Серия Floorpan Yellow, 32 класс, 8 мм
                </div>
            </div>
        </div>
        <div class="package__desc-item">
            <div class="package__desc-icon">
                <svg width="23" height="23">
                    <use xlink:href="images/stack/sprite.svg#door"></use>
                </svg>
            </div>
            <div class="package__desc-box">
                <div class="package__desc-name">
                    Двери
                </div>
                <div class="package__desc-text">
                    BELWOODDOORS, Alta
                </div>
            </div>
        </div>
        <div class="package__desc-item">
            <div class="package__desc-icon">
                <svg width="27" height="27">
                    <use xlink:href="images/stack/sprite.svg#water-tap"></use>
                </svg>
            </div>
            <div class="package__desc-box">
                <div class="package__desc-name">
                    СМЕСИТЕЛИ
                </div>
                <div class="package__desc-text">
                    Grohe, Германия
                </div>
            </div>
        </div>
    </div>
</a>