<div class="request">
    <div class="request__image">
        <img class="dp-block" src="images/request2.png" alt="">
    </div>
    <h5 class="request__title sm-title">
        Оставьте заявку
    </h5>
    <p class="request__text">
        Мы поможем вам подобрать планировку и бесплатно проконсультируем по возникшим вопросам!
    </p>
    <div class="request__form">
        <form action="">
            <div class="request__form-row">
                <input type="text" class="input" placeholder="Представьтесь, пожалуйста">
                <input type="tel" class="input" placeholder="Ваш номер телефона">
            </div>
            <label class="fake-check">
                <div class="fake-check__square">
                    <input type="checkbox" checked>
                    <div class="fake-check__mask"></div>
                </div>
                <p class="fake-check__text">
                    Написать в Whats’app/Telegram
                </p>
            </label>
            <div class="request__form-btn">
                <button class="button button1">
                    Отправить заявку
                </button>
                <div class="request__form-text">
                    Кликая на кнопку «Отправить заявку», вы даете согласие на <a href="#">обработку своих данных</a>
                </div>
            </div>
        </form>
    </div>
</div>