html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #404040;
    background-color: #FCFCFC;
    position: relative;

    &.fixed {
        overflow: hidden;
    }
}
.arrow-active{
    opacity: 0.4;
}
.title{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}
.sm-title{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
}
.title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// ШРИФТЫ 400 600 700 weight
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;

// .block {
//     display: none;
//     content: '';
//     width: 100%;
//     min-height: 100%;
//     height: 100%;
//     position: fixed;
//     left: 0;
//     top: 0;
//     z-index: 100;
//     background-color: #F6F6F6;
//     opacity: 0.8;

//     &.active {
//         display: block;
//     }
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;

    &.button {
        display: block;
        max-width: max-content;
        width: 100%;
    }
}

p {
    margin: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    outline-style: none;
    display: block;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
}

.input {
    border: 1px solid rgba(64, 64, 64, 0.2);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    padding: unset;
    &::placeholder{
        color: #757575;
    }
}
.fieldset{
    display: block;
    width: 100%;
    padding-top: 14px;
    position: relative;
    &__title{
        position: absolute;
        background-color: #FFFFFF;
        border-radius: 8px;
        font-size: 12px;
        line-height: 16px;
        padding: 4px;
        color: #404040;
        left: 3px;
        top: 0;
        z-index: 1;
    }
}
.fake-check {
    display: flex;
    align-items: center;

    input[type="radio"],
    input[type="checkbox"] {
        display: none;

        &:checked {
            & + .fake-check__mask {
                span {
                    opacity: 1;
                }
            }
        }
    }

    &__text {
        font-size: 16px;
        line-height: 22px;
        color: #757575;
        margin-left: 11px;
    }

    &__mask {
        width: 18px;
        min-width: 18px;
        height: 18px;
        background-color: #fff;
        border: 1px solid rgba(117, 117, 117, 0.5);
        border-radius: 4px;
        position: relative;

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            background-color: #000;
            opacity: 0;
            transition: all .2s;
        }

        // &.radio {
        //     border-radius: 50%;

        //     span {
        //         border-radius: 50%;
        //     }
        // }
    }
}

// select {
//     max-width: 100%;
//     width: 100%;
//     height: 36px;
//     border: 1px solid #000000;
//     padding-left: 8px;
//     padding-right: 40px;
// }

img,
svg {
    &.dp-block {
        display: block;
    }
}




.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1392px;
    width: 100%;
    padding: 0 16px 0;
    margin: 0 auto;
}

.breadcrumbs{
    margin-top: 40px;
    margin-bottom: 8px;
    li{
        display: inline-block;
        font-size: 16px;
        line-height: 22px;
        a{
            color: #757575;
        }
        & + li{
            padding-left: 24px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 1px;
                background-image: url(../images/stack/sprite.svg#arrow-right-gray);
                background-position: center;
                background-size: cover;
                width: 20px;
                height: 20px;
            }
        }
    }
}

// .container-fluid{
//     max-width: 100%;
// 	margin: 0 auto;
// }