@import "yan-media";



@media (max-width: 1250px){
    .request{
        padding-right: 415px;
        &__image{
            img{
                width: 400px;
            }
        }
    }
    .slider-box{
        &__text{
            max-width: 650px !important;
        }
    }
    .why{
        &__box{
            flex-wrap: wrap;
            margin-top: -32px;
            margin-left: -32px;
        }
        &__item{
            width: calc(50% - 32px);
            margin-left: 32px;
            margin-top: 32px;
        }
        &__item2{
            padding: 0;
        }
    }   

    .banners{
        &__box{
            display: block;
            margin-top: 24px;
        }
        &__item{
            max-width: 100% !important;
            & + &{
                margin-left: 0;
                margin-top: 24px;
            }
        }
    }
}
@media (max-width: 1024px){
    .request{
        background-color: $blue;
        color: #FFF;
        padding: 32px;
        &__image{
            display: none;
        }
        &__text{
            color: #FFF;
            font-size: 16px;
            line-height: 24px;
            max-width: 440px;
        }
        &__form{
            .input{
                border: 1px solid rgba(255, 255, 255, 0.2);
                background-color: transparent;
                color: #FFF;
                &::placeholder{
                    color: #FFF;
                }
            }
            .fake-check{
                &__text{
                    color: #FFF;
                }
            }
            .button{
                background-color: #FFF;
                color: $blue;
            }
            &-text{
                color: #FFF;
            }
        }
    }
    .card1{
        &__title{
            font-size: 18px;
            line-height: 25px;
        }
    }
    .slider-box{
        .client-comment{
            max-width: 400px;
        }
        &._blog{
            .card1__image{
                height: 250px;
            }
        }
        &._our-work{
            .card1__image{
                height: 310px;
            }
        }
        &._showroom{
            .card1__image{
                height: 500px;
            }
            .slider-box__slider{
                margin-top: 32px;
            }
        }
        .card1{
            max-width: 400px;
            .card1__category{
                display: none;
            }
        }
        &__btn{
            margin-left: 0;
        }
        &__title{
            margin-bottom: 0;
        }
        &__text{
            display: none;
        }
        &__row{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .sm-title{
        font-size: 24px;
        line-height: 24px;
    }
    .title{
        font-size: 32px;
        line-height: 45px;
    }
    .banners{
        &__slider{
            &::after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(84.2deg, rgba(33, 52, 69, 0.7) 23.77%, rgba(33, 52, 69, 0) 81.09%);
                border-radius: 16px;
            }
            .slider-arrow{
                position: absolute;
                right: 40px;
                bottom: 40px;
                button{
                    background: rgba(19, 116, 207, 0.7);
                    &._not-active{
                        background: rgba(19, 116, 207, 0.5);
                        opacity: 0.4;
                    }
                }
            }
            &-item{
                color: #FFF;
                .title{
                    margin-bottom: 8px;
                }
                p{
                    max-width: 385px;
                    color: #FFF;
                    font-size: 18px;
                    line-height: 27px;
                }
            }
            &-box{
                max-width: 476px;
            }
        }
    }
}

@media (max-width: 768px){
    .client-comment{
        &__box{
            padding: 24px;
            padding-top: 81px;
        }
        &__quotes{
            top: 16px;
            right: 20px;
        }
    }
    .slider-box{
        &._comments,
        &._blog,
        &._our-work,
        &._showroom{
            margin: 80px 0;
        }
    }
    .why{
        margin-top: 80px;
        margin-bottom: 80px;
        &__title{
            margin-bottom: 40px;
        }
        &__subtitle{
            display: none;
        }
        &__box2{
            display: none;
        }
        &__item{
            &-num{
                font-size: 40px;
                line-height: 40px;
                text-align: center;
            }
            &-text{
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }
        }
    }
}
@media (max-width: 600px){
    .slider-box{
        &._showroom{
            .slider-box__inner{
                padding-bottom: 127px;
            }
            .slider-box__nav{
                bottom: 63px;
            }
        }
        &__inner{
            position: relative;
            padding-bottom: 64px;
        }
        &__nav{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            justify-content: space-between;
        }
        &__link{
            order: 1;
            margin-right: 0;
        }
        &__btn{
            position: absolute;
            bottom: 0;
            left: 0;
            margin-top: 0;
        }
    }
}
@media (max-width: 537px){
    body{
        font-size: 16px;
        line-height: 24px;
    }
    .sm-title{
        font-size: 18px;
        line-height: 25px;
    }

    .request{
        padding: 16px;
        padding-bottom: 35px;
        &__title{
            line-height: 100%;
            margin-bottom: 8px;
        }
        &__text{
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 21px;
        }
        &__form{
            &-row{
                display: block;
            }
            &-btn{
                display: block;
            }
            &-text{
                margin-top: 16px;
            }
            .input{
                max-width: 100%;
                & + .input{
                    max-width: 100%;
                    margin-left: 0;
                    margin-top: 16px;
                }
            }
        }
    }

    .why{
        margin-top: 64px;
        &__box{
            margin-top: -16px;
        }
        &__item{
            width: calc(100% - 32px);
            margin-top: 16px;
            padding: 24px 19px;
        }
    }

    .banners{
        &__item{
            background-color: #F4F4F4;
            background-image: none !important;
        }
    }
}

@media (max-width: 425px){
    .client-comment{
        &__text{
            font-size: 14px;
            line-height: 21px;
        }
        &__box{
            padding: 16px;
            padding-top: 81px;
        }
        &__quotes{
            display: none;
        }
    }
    .slider-box{
        &._comments,
        &._blog,
        &._our-work,
        &._showroom{
            margin: 64px 0;
        }
        .card1{
            width: 265px !important;
            &__title{
                font-size: 16px !important;
                line-height: 22px !important;
            }
            &__text{
                font-size: 14px;
                line-height: 21px;
            }
        }
        &._our-work,
        &._blog{
            .card1{
                &__image{
                    height: 200px; 
                }
            }
        }
        &._showroom{
            .card1{
                &__image{
                    height: 340px;
                }
            }
        }
        &__slider{
            margin-top: 16px;
        }
    }
    .banners{
        &__slider{
            padding-bottom: 48px;
            &::after{
                height: calc(100% - 48px);
            }
            &-item{
                padding: 16px;
                .title{
                    font-size: 18px;
                    line-height: 25px;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
                .button{
                    margin-top: 0;
                }
            }
            .slider-arrow{
                left: 50%;
                transform: translateX(-50%);
                right: unset;
                bottom: 0;
            }
        }
        &__box{
            margin-top: 64px;
        }
        &__item{
            padding: 16px;
            padding-bottom: 23px;
        }
    }
}