$gray: #757575;
$blue: #1374CF;

@mixin M700 {
    font-family: Montserrat;
    font-weight: 700;
}
@mixin M600 {
    font-family: Montserrat;
    font-weight: 700;
}
@mixin M400 {
    font-family: Montserrat;
    font-weight: 400;
}