//qwe
// background-image: url(../images/stack/sprite.svg#phone);
// font-size: 16px;
// line-height: 22px;
// margin: 0 auto 100px ;
// width: 244px;
// height: 50px;
// background: $blue;
// color: #fff;
// border-radius: 4px;
._textin {
    font-size: 24px;
    line-height: 36px;
    color: $gray;
}

.bahandi {
    margin-right: 40px;
    display: none;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(12, 75, 134, 0.07);
    border-radius: 4px;
    position: relative;

    &::before {
        content: '';
        background-image: url(../images/stack/sprite.svg#bahandi-grid);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 24px;
        height: 24px;
    }
}

.header {
    ._border-bottom {
        border-bottom: 1px solid #E3E3E3;
    }

    &__inner {
        height: 123px;
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        margin-left: 64px;
        margin-right: auto;

        li {
            font-size: 16px;
            line-height: 22px;

            &+li {
                margin-left: 24px;
            }

            a {
                color: $mgr;
            }
        }
    }

    &__tel {
        font-size: 16px;
        line-height: 22px;
        display: block;
        position: relative;
        color: $mgr;
        font-weight: 600;
        padding-left: 26px;
        margin-right: 24px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/stack/sprite.svg#phone);
            background-size: cover;
            background-position: center;
            width: 24px;
            height: 24px;
        }
    }

    &__btn {
        font-size: 16px;
        line-height: 22px;
        color: $blue;
        width: 110px;
        height: 40px;
        box-shadow: 0px 8px 24px rgba(12, 75, 134, 0.07);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            fill: $blue;
            margin-right: 5px;
        }
    }
}

.footer {
    background-color: #07325B;
    margin-top: 96px;

    &__inner {

        padding: 50px 0px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        margin-right: -24px;

        li {
            font-size: 16px;
            line-height: 22px;
            margin-right: 24px;

            a {
                color: white;
            }
        }
    }

    &__socials {
        display: flex;
        margin-right: -8px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #114E88;
            width: 39px;
            height: 39px;
            border-radius: 50%;
            margin-right: 8px;

            svg,
            path {
                fill: white;
                stroke: none;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: $blue;
        border-radius: 4px;
        width: 124px;
        height: 40px;
        font-size: 16px;
        line-height: 22px;

        svg {
            margin-right: 5px;
            fill: white;
        }
    }

    &__copyright {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        span {
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-align: right;
            color: #90B5D9;
        }
    }
}

.details {
    &__inner {}

    &__btn {
        margin: 32px auto 0;
        width: 157px;
        height: 54px;
    }

    &__title {
        font-size: 40px;
        line-height: 140%;
        @include M600;
    }

    &__subtitle {
        @include M400;

        margin-bottom: 40px;
    }
}

.sliderOurwork {
    &__inner {}

    &__title {}

    &__subtitle {
        @include M400;
    }
}

.info {
    margin-top: 96px;

    &__inner {
        display: flex;
        justify-content: space-between;

        &-item {
            display: block;
            width: calc(50% - 32px);
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            color: $gray;

            p:first-child {
                margin-bottom: 27px;
            }
        }
    }

}

.condition {
    margin-top: 96px;
    margin-bottom: 96px;

    &__text {

        width: 100%;
        max-width: 1043px;
        min-height: 173px;
        padding: 13px 0px 13px 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: $gray;
        border-left: 4px solid #4BB028;
    }



    &__inner {
        position: relative;
        background: #F4F4F4;
        border-radius: 16px;
        padding: 40px;
        padding-right: 130px;

        &::after {
            content: "";
            top: 40px;
            right: 40px;
            width: 64px;
            height: 64px;
            position: absolute;
            background-image: url(../images/stack/sprite.svg#left-quote);
            background-size: cover;
            background-position: center;
        }
    }

}

.showroomin {
    &__title {
        color: $mgr;


    }

    .card1__row {
        margin-bottom: 40px;
    }

    &__video {
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        &::after {
            content: "";
            background: #07325B;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
        }

        &-title {
            @include M600;
            font-size: 32px;
            line-height: 45px;
            color: #FFFFFF;
            margin-bottom: 64px;
        }

        &-btn {
            position: relative;
            width: 96px;
            height: 96px;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.07);
            border-radius: 50%;
            background-color: #fff;

            &::after {
                content: "";
                position: absolute;
                top: 30px;
                left: 40px;
                width: 28px;
                height: 40px;
                background-image: url(../images/stack/sprite.svg#video-start);
                background-size: cover;
                background-position: center;
            }
        }

        &-subtitle {
            @include M400;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            margin-top: 24px;
        }
    }

    &__box {
        text-align: center;
        z-index: 2;
        position: absolute;
        margin: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }


    &__bg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.block1 {
    margin-top: 40px;
    margin-bottom: 96px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__box {
        margin-left: 40px;
        max-width: 624px;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 24px;
        @include M600;
    }

    &__text {

        color: $gray;
    }

    &__logo {
        border-radius: 8px;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
            max-width: 664px;
            height: 408px;
        }
    }
}

.blog {
    &__subtitle {
        margin-bottom: 40px;
    }
}

.why__step {
    margin-bottom: 96px;
}

.how__feedback {
    margin-top: 96px;
}

.how {

    &__start {
        margin-top: 40px;
        display: flex;

        &-item {
            background: #F4F4F4;
            padding: 36px 32px;

            &:first-child {
                max-width: 780px;
                margin-right: 32px;
                padding-right: 85px;
            }

            &:last-child {
                max-width: 548px;
                padding-right: 43px;
            }
        }

        &-title {
            font-size: 24px;
            line-height: 24px;
            color: $mgr;
            @include M600;
            margin-bottom: 16px;
        }

        &-text {
            font-size: 18px;
            line-height: 27px;
            color: $gray;

        }

    }

    &__steps {
        margin-top: 61px;
        margin-bottom: 96px;

        &-inner {
            display: flex;
            flex-direction: column;
        }

        &-item {
            max-width: 780px;
            width: 100%;
            display: flex;
            align-items: center;
            margin: 24px 0;

            &:first-child {
                margin-bottom: 24px;
                margin-top: 0;
            }

            &:last-child {
                margin-top: 24px;
                margin-bottom: 0;
            }

            &:nth-of-type(2n) {
                align-self: flex-end;
            }
        }
    }

    &__snake {
        height: 76.5px;
        display: flex;
        align-items: center;
        padding-left: 75px;





        &:nth-of-type(even) {
            transform: rotateX(-180deg);
        }

        &-left {
            width: 100%;
            max-width: 231px;
            border-top: none;
            border-right: none;
            height: 40px;
            border-left: 3px dashed #E2E2E2;
            border-bottom: 3px dashed #E2E2E2;
            border-bottom-left-radius: 16px;
            margin-right: 3px;
            align-self: flex-start;

            &._bot-left-active {
                border-left: 3px solid $blue;
                border-bottom: 3px solid $blue;
            }
        }

        &-right {
            width: 100%;
            max-width: 352px;
            height: 40px;
            border-right: 3px dashed #E2E2E2;
            border-top: 3px dashed #E2E2E2;
            border-top-right-radius: 16px;
            align-self: flex-end;

            &._top-right-active {
                border-right: 3px solid $blue;
                border-top: 3px solid $blue;
            }
        }
    }

    &__text {}

    &__title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 16px;
        color: $mgr;
        @include M700;
    }

    &__subtitle {
        max-width: 592px;
        width: 100%;
        font-size: 18px;
        line-height: 27px;
        color: $gray;
        margin-bottom: 16px;

    }

    &__logo {
        width: 156px;
        height: 156px;
        background: #F4F4F4;
        border-radius: 8px;
        text-align: center;
        padding-top: 25px;
        margin-right: 32px;

        &._current {
            background: $blue;

            .how__logo-item {
                color: #f4f4f4;
            }
        }

        &-item {
            color: $blue;

            &:first-child {
                font-size: 64px;
                line-height: 64px;
                @include M700;
            }

            &:last-child {
                margin-top: 8px;
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
}

.materials {
    &__btn {
        margin-top: 32px;
    }

    .banners__box {
        margin-top: 96px;
    }

    &__title {
        margin-top: 96px;
        @include M600;
        font-size: 32px;
        line-height: 32px;
        color: $mgr;
        margin-bottom: 32px;
    }

    &__subtitle {
        @include M600;
        color: $mgr;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    &__box {
        display: flex;
        justify-content: flex-start;
        margin-left: -32px;
        margin-bottom: 40px;

        ._bigger {
            border-radius: 16px;
            width: 100%;
            max-width: 432px;
            height: 561px;
            object-fit: cover;
        }

        ._longer {
            border-radius: 16px;
            width: 100%;
            max-width: 781px;
            height: 365px;
            object-fit: cover;
        }

        ._short {
            border-radius: 16px;
            height: 372px;
            object-fit: cover;
            width: 100%;
            max-width: 547px;
        }
    }

    &__item {
        margin-left: 32px;
        margin-bottom: 20px;

        &-image {
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 16px;
        }

        &-name {
            color: $mgr;
            font-size: 18px;
            line-height: 27px;
            font-weight: 600;
        }

        &-text {

            color: $mgr;
            font-size: 18px;
            line-height: 27px;
        }
    }
}

.choose {
    font-size: 16px;
    line-height: 22px;
    margin-top: 32px;

    &__nav {
        display: flex;
        align-items: center;
    }

    &__back {
        color: $blue;
        position: relative;
        padding-left: 32px;
        margin-right: 24px;

        &::before {
            content: "";
            left: 0;
            top: -2px;
            width: 24px;
            height: 24px;
            position: absolute;
            background-image: url(../images/stack/sprite.svg#back);
            background-size: cover;
            background-position: center;
        }
    }

    &__filter {
        margin-right: 40px;
        font-size: 14px;
        padding-top: 13px;
        line-height: 14px;
        text-align: center;
        color: $gray;
        background: #F4F4F4;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 32px;
        height: 40px;

        span {
            display: block;
            position: relative;
        }

        span::after {
            content: "";
            right: -18px;
            top: 5px;
            width: 10px;
            height: 7px;
            position: absolute;
            background-image: url(../images/stack/sprite.svg#select-choose);
            background-size: cover;
            background-position: center;
        }
    }

    &__steps {

        display: flex;
        color: gray;
        margin-left: -32px;

        li {
            margin-left: 32px;
        }

        ._active-step {
            font-weight: 600;
            color: $blue;
        }
    }

    &__price {
        font-weight: 700;
        font-size: 24px;
        color: $gray;
        line-height: 24px;
        margin-left: auto;
        position: relative;

        &::before {
            content: "";
            position: absolute;

            top: -8px;
            left: -32px;
            height: 40px;
            width: 2px;
            background-color: #e3e3e3;
        }
    }

    &__inner {
        margin-top: 24px;
        display: flex;
        margin-left: -24px;
    }
&__show{
    margin-left: 24px;
}
    &__vars {
        margin-top: 24px;
        margin-left: -16px;

        img {
            margin-left: 16px;
        }

        ._active-var {
            border: 3px solid rgba(75, 176, 40, 0.5);
            border-radius: 4px;

        }
    }

    &__aside {
        
        height: 44px;
        margin-left: 24px;
    }
&__aside-nav{
    display: flex;
}
    &__aside-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
       
    }

    &__btn {
    margin-left: 118px;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
    }
}