//1023
@media(max-width:1270px) {
    .header {
        &__nav {
            margin-left: 20px;

            li+li {
                margin-left: 15px;
            }
        }
    }

    .block1__inner {
        flex-direction: column;
        align-items: flex-start;

    }

    .block1__logo {
        margin: 0 auto;
        max-width: 100%;
    }

    .block1__box {
        max-width: 100%;
        margin-top: 35px;
        margin-left: 0px;
    }

    .showroomin__box {}

    .showroomin__video-title {
        font-size: 28px;
    }

    .info {
        &__inner {
            flex-direction: column;

            &-item {
                margin-top: 25px;

                min-width: 100%;
            }
        }
    }
}

@media(max-width:1170px) {
    .header {
        &__nav {
            li {
                font-size: 13px;
            }
        }
    }
}

@media(max-width:1116px) {
    .breadcrumbs {
        margin-top: 32px;

    }

    .showroomin__video-title {
        margin-bottom: 28px;
    }

    .showroomin__video-title {
        font-size: 20px;
    }

    .showroomin__title,
    .showroom__title,
    .sliderOurwork__title,
    .details__title {
        margin: 10px 0px !important;
        font-size: 32px !important;
    }

    .title-wrapper {
        flex-direction: column;
        align-items: start;


        a {
            margin-top: 16px;
            margin-bottom: 22px;

        }
    }

    .showroomin__video-subtitle {
        font-size: 16px;
    }

    .bahandi {
        display: none;
    }

    .header {
        &__inner {
            height: 107px;
        }

        &__logo {
            margin-right: auto;

            img {

                width: 126px;
                height: 43px;
            }
        }

        &__nav {
            display: none;
        }
    }

    .footer {
        &__inner {
            padding: 32px 16px;
        }

        &__logo {
            img {
                width: 132px;
                height: 45px;
            }
        }

        &__nav {
            display: none;
        }

        &__socials {
            margin-left: auto;
            margin-right: 40px;
        }
    }
}

@media(max-width:1024px) {
    .card1-inner {
        .card1{
            width: calc(50% - 32px);
            &__image{
                height: 250px;
            }
        }
        .card1._big{
            .card1__image{
            height: 250px;
            }
        }
    }
}

@media(max-width:779px) {
    .condition__text {
        font-size: 18px;
    }

    .showroomin__video-title {
        white-space: nowrap;
        line-height: 30px;
    }

    .showroomin__subtitle,
    .showroom__text,
    .sliderOurwork__subtitle,
    .details__subtitle {
        font-size: 18px !important;
        margin-bottom: 24px;
    }

    .showroomin__title,
    .showroom__title,
    .sliderOurwork__title,
    .details__title {
        font-size: 25px !important;

    }

    .showroomin__video-title {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .showroomin__video-btn {
        width: 70px;
        height: 70px;

        &::after {
            top: 16px;
            left: 26px
        }
    }

    .showroomin__video-subtitle {
        font-size: 15px;
        margin-top: 10px;

    }
}
@media(max-width:600px){
    .card1-inner {
        .card1,.card1._big{
            width: calc(100% - 32px);
        }
    }
}
@media(max-width:537px) {


    .showroomin__subtitle,
    .showroom__subtitle,
    .sliderOurwork__subtitle,
    .details__subtitle {
        font-size: 16px !important;
    }

    .showroomin__title,
    .showroom__title,
    .sliderOurwork__title,
    .details__title {
        font-size: 24px !important;
    }

    .title-wrapper {}

    .condition__text {
        font-size: 16px;
    }

    .showroomin__video-title {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .showroomin__video-subtitle {
        font-size: 14px;
        margin-top: 5px;
    }

    .footer {


        &__copyright {
            margin-top: 24px;
            flex-direction: column;
            align-items: flex-start;

            span {
                margin-top: 8px;
            }
        }

        &__socials {
            margin: 0 auto;
        }

        &__logo {
            img {
                width: 113px;
                height: 38px;
            }
        }

        &__btn {
            span {
                display: none;
            }

            svg {
                margin-right: 0;
            }

            width: 40px;
            height: 40px;

        }

    }

    .header__inner {

        height: 88px;

    }

    .bahandi {
        margin-right: 0;
    }


}

@media(max-width:425px) {
    .card1-inner {
        .card1,.card1._big{
           .card1__image{
               height: 200px;
           }
        }
    }
    .showroomin__video-title {
        line-height: 25px;
    }

    .showroomin__video-subtitle {
        white-space: nowrap;
    }

    .showroomin__video-btn {
        height: 55px;
        width: 55px;
    }

    .condition__inner {
        padding: 40px 69px 40px 20px;
    }

    .condition__inner::after {
        top: 48px;
        right: 2px;
        width: 64px;
        height: 44px;
    }

    .condition__text {
        padding-left: 15px;
    }

    .showroomin__video-btn::after {
        top: 10px;
        left: 17px;
        height: 33px;
    }

    .showroomin__video-title {
        font-size: 14px;
    }

    .bahandi {
        display: block;
    }

    .header__logo {
        margin: 0 auto;

        img {
            width: 105px;
            height: 36px;
        }
    }

    .header__btn {
        span {
            display: none;
        }

        svg {
            margin-right: 0;
        }

        width: 40px;
        height: 40px;

    }

    .header__logo {
        margin: 0 auto;
    }

    .header__tel {
        display: none;
    }
}

//1023 18px
//537 16px