//qwe
// background-image: url(../images/stack/sprite.svg#phone);
// font-size: 16px;
// line-height: 22px;
// margin: 0 auto 100px ;
// width: 244px;
// height: 50px;
// background: $blue;
// color: #fff;
// border-radius: 4px;
._textin {
    font-size: 24px;
    line-height: 36px;
    color: $gray;
}

.bahandi {
    margin-right: 40px;
    display: none;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(12, 75, 134, 0.07);
    border-radius: 4px;
    position: relative;

    &::before {
        content: '';
        background-image: url(../images/stack/sprite.svg#bahandi-grid);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 24px;
        height: 24px;
    }
}

.draft {
    &__btn {
        padding: 16px 32px !important;
        margin-right: 16px;
        height: 54px !important;
    }

    &__inner {

        padding-top: 40px;
        padding-bottom: 40px;
        box-shadow: 0px 24px 24px rgba(19, 116, 207, 0.05);
        border-radius: 16px;
        min-height: 100%;
        text-align: center;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: $mgr;
        text-align: center;
    }

    &__buttons {
        display: flex;
        margin-top: 16px;
        justify-content: center;
    }

    &__text {
        margin-top: 16px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
    }

    &__download {
        width: 100% !important;
        max-width: 248px !important;
        height: 54px !important;
    }

    &__download {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        border: 1px solid rgba(19, 116, 207, 0.3);
        border-radius: 4px;
        color: $blue;


        &-inner {
            display: flex;
            align-items: center;

            svg {
                margin-right: 4px;

            }

            svg {

                fill: $blue;
                transition: all .3s;
            }

            &:hover,
            &:active {
                color: #2F9AFD;

                svg {
                    fill: #2F9AFD;
                }
            }

            &:focus {
                outline: 2px solid #AFD8FF;
            }

            &._success {
                color: #4BB028;

                svg {
                    fill: #4BB028;
                }
            }
        }
    }

}

.header {
    ._border-bottom {
        border-bottom: 1px solid #E3E3E3;
    }

    &__inner {
        height: 123px;
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        margin-left: 64px;
        margin-right: auto;

        li {
            font-size: 16px;
            line-height: 22px;

            &+li {
                margin-left: 24px;
            }

            a {
                color: $mgr;
            }
        }
    }

    &__tel {
        font-size: 16px;
        line-height: 22px;
        display: block;
        position: relative;
        color: $mgr;
        font-weight: 600;
        padding-left: 26px;
        margin-right: 24px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/stack/sprite.svg#phone);
            background-size: cover;
            background-position: center;
            width: 24px;
            height: 24px;
        }
    }

    &__btn {
        font-size: 16px;
        line-height: 22px;
        color: $blue;
        width: 110px;
        height: 40px;
        box-shadow: 0px 8px 24px rgba(12, 75, 134, 0.07);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            fill: $blue;
            margin-right: 5px;
        }
    }
}

.footer {
    background-color: #07325B;
    margin-top: 96px;

    &__inner {

        padding: 50px 0px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        margin-right: -24px;

        li {
            font-size: 16px;
            line-height: 22px;
            margin-right: 24px;

            a {
                color: white;
            }
        }
    }

    &__socials {
        display: flex;
        margin-right: -8px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #114E88;
            width: 39px;
            height: 39px;
            border-radius: 50%;
            margin-right: 8px;

            svg,
            path {
                fill: white;
                stroke: none;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: $blue;
        border-radius: 4px;
        width: 124px;
        height: 40px;
        font-size: 16px;
        line-height: 22px;

        svg {
            margin-right: 5px;
            fill: white;
        }
    }

    &__copyright {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        span {
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-align: right;
            color: #90B5D9;
        }
    }
}

.details {
    &__inner {}

    &__btn {
        margin: 32px auto 0;
        width: 157px;
        height: 54px;
    }

    &__title {
        font-size: 40px;
        line-height: 140%;
        @include M600;
    }

    &__subtitle {
        @include M400;

        margin-bottom: 40px;
    }
}

.sliderOurwork {
    &__inner {}

    &__title {}

    &__subtitle {
        @include M400;
    }
}

.info {
    margin-top: 96px;

    &__inner {
        display: flex;
        justify-content: space-between;

        &-item {
            display: block;
            width: calc(50% - 32px);
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            color: $gray;

            p:first-child {
                margin-bottom: 27px;
            }
        }
    }

}

.condition {
    margin-top: 96px;
    margin-bottom: 96px;

    &__text {

        width: 100%;
        max-width: 1043px;
        min-height: 173px;
        padding: 13px 0px 13px 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: $gray;
        border-left: 4px solid #4BB028;
    }



    &__inner {
        position: relative;
        background: #F4F4F4;
        border-radius: 16px;
        padding: 40px;
        padding-right: 130px;

        &::after {
            content: "";
            top: 40px;
            right: 40px;
            width: 64px;
            height: 64px;
            position: absolute;
            background-image: url(../images/stack/sprite.svg#left-quote);
            background-size: cover;
            background-position: center;
        }
    }

}

.showroomin {
    &__title {
        color: $mgr;


    }

    .card1__row {
        margin-bottom: 40px;
    }

    &__video {
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        &::after {
            content: "";
            background: #07325B;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
        }

        &-title {
            @include M600;
            font-size: 32px;
            line-height: 45px;
            color: #FFFFFF;
            margin-bottom: 64px;
        }

        &-btn {
            position: relative;
            width: 96px;
            height: 96px;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.07);
            border-radius: 50%;
            background-color: #fff;

            &::after {
                content: "";
                position: absolute;
                top: 30px;
                left: 40px;
                width: 28px;
                height: 40px;
                background-image: url(../images/stack/sprite.svg#video-start);
                background-size: cover;
                background-position: center;
            }
        }

        &-subtitle {
            @include M400;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            margin-top: 24px;
        }
    }

    &__box {
        text-align: center;
        z-index: 2;
        position: absolute;
        margin: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }


    &__bg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.block1 {
    margin-top: 40px;
    margin-bottom: 96px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__box {
        margin-left: 40px;
        max-width: 624px;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 24px;
        @include M600;
    }

    &__text {

        color: $gray;
    }

    &__logo {
        border-radius: 8px;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
            max-width: 664px;
            height: 408px;
        }
    }
}

.blog {
    &__subtitle {
        margin-bottom: 40px;
    }
}

.why__step {
    margin-bottom: 96px;
}

.how__feedback {
    margin-top: 96px;
}

.how {

    &__start {
        margin-top: 40px;
        display: flex;

        &-item {
            background: #F4F4F4;
            padding: 36px 32px;

            &:first-child {
                max-width: 780px;
                margin-right: 32px;
                padding-right: 85px;
            }

            &:last-child {
                max-width: 548px;
                padding-right: 43px;
            }
        }

        &-title {
            font-size: 24px;
            line-height: 24px;
            color: $mgr;
            @include M600;
            margin-bottom: 16px;
        }

        &-text {
            font-size: 18px;
            line-height: 27px;
            color: $gray;

        }

    }

    &__steps {
        margin-top: 61px;
        margin-bottom: 96px;

        &-inner {
            display: flex;
            flex-direction: column;
        }

        &-item {
            max-width: 780px;
            width: 100%;
            display: flex;
            align-items: center;
            margin: 24px 0;

            &:first-child {
                margin-bottom: 24px;
                margin-top: 0;
            }

            &:last-child {
                margin-top: 24px;
                margin-bottom: 0;
            }

            &:nth-of-type(2n) {
                align-self: flex-end;
            }
        }
    }

    &__snake {
        height: 76.5px;
        display: flex;
        align-items: center;
        padding-left: 75px;





        &:nth-of-type(even) {
            transform: rotateX(-180deg);
        }

        &-left {
            width: 100%;
            max-width: 231px;
            border-top: none;
            border-right: none;
            height: 40px;
            border-left: 3px dashed #E2E2E2;
            border-bottom: 3px dashed #E2E2E2;
            border-bottom-left-radius: 16px;
            margin-right: 3px;
            align-self: flex-start;

            &._bot-left-active {
                border-left: 3px solid $blue;
                border-bottom: 3px solid $blue;
            }
        }

        &-right {
            width: 100%;
            max-width: 352px;
            height: 40px;
            border-right: 3px dashed #E2E2E2;
            border-top: 3px dashed #E2E2E2;
            border-top-right-radius: 16px;
            align-self: flex-end;

            &._top-right-active {
                border-right: 3px solid $blue;
                border-top: 3px solid $blue;
            }
        }
    }

    &__text {}

    &__title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 16px;
        color: $mgr;
        @include M700;
    }

    &__subtitle {
        max-width: 592px;
        width: 100%;
        font-size: 18px;
        line-height: 27px;
        color: $gray;
        margin-bottom: 16px;

    }

    &__logo {
        width: 156px;
        height: 156px;
        background: #F4F4F4;
        border-radius: 8px;
        text-align: center;
        padding-top: 25px;
        margin-right: 32px;

        &._current {
            background: $blue;

            .how__logo-item {
                color: #f4f4f4;
            }
        }

        &-item {
            color: $blue;

            &:first-child {
                font-size: 64px;
                line-height: 64px;
                @include M700;
            }

            &:last-child {
                margin-top: 8px;
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
}

.materials {
    &__btn {
        margin-top: 32px;
    }

    .banners__box {
        margin-top: 96px;
    }

    &__title {
        margin-top: 96px;
        @include M600;
        font-size: 32px;
        line-height: 32px;
        color: $mgr;
        margin-bottom: 32px;
    }

    &__subtitle {
        @include M600;
        color: $mgr;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    &__box {
        display: flex;
        justify-content: flex-start;
        margin-left: -32px;
        margin-bottom: 40px;

        ._bigger {
            border-radius: 16px;
            width: 100%;
            max-width: 432px;
            height: 561px;
            object-fit: cover;
        }

        ._longer {
            border-radius: 16px;
            width: 100%;
            max-width: 781px;
            height: 365px;
            object-fit: cover;
        }

        ._short {
            border-radius: 16px;
            height: 372px;
            object-fit: cover;
            width: 100%;
            max-width: 547px;
        }
    }

    &__item {
        margin-left: 32px;
        margin-bottom: 20px;

        &-image {
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 16px;
        }

        &-name {
            color: $mgr;
            font-size: 18px;
            line-height: 27px;
            font-weight: 600;
        }

        &-text {

            color: $mgr;
            font-size: 18px;
            line-height: 27px;
        }
    }
}

.choose {
    font-size: 16px;
    line-height: 22px;
    margin-top: 32px;

    &__nav {
        display: flex;
        align-items: center;
    }

    &__back {
        color: $blue;
        position: relative;
        padding-left: 32px;
        margin-right: 24px;

        &::before {
            content: "";
            left: 0;
            top: -2px;
            width: 24px;
            height: 24px;
            position: absolute;
            background-image: url(../images/stack/sprite.svg#back);
            background-size: cover;
            background-position: center;
        }
    }

    &__filter {
        margin-right: 40px;
        font-size: 14px;
        padding-top: 13px;
        line-height: 14px;
        text-align: center;
        color: $gray;
        background: #F4F4F4;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 32px;
        height: 40px;

        span {
            display: block;
            position: relative;
        }

        span::after {
            content: "";
            right: -18px;
            top: 5px;
            width: 10px;
            height: 7px;
            position: absolute;
            background-image: url(../images/stack/sprite.svg#select-choose);
            background-size: cover;
            background-position: center;
        }
    }

    &__steps {

        display: flex;
        color: gray;
        margin-left: -32px;

        li {
            margin-left: 32px;
        }

        ._active-step {
            font-weight: 600;
            color: $blue;
        }
    }

    &__price {
        font-weight: 700;
        font-size: 24px;
        color: $gray;
        line-height: 24px;
        margin-left: auto;
        position: relative;

        &::before {
            content: "";
            position: absolute;

            top: -8px;
            left: -32px;
            height: 40px;
            width: 2px;
            background-color: #e3e3e3;
        }
    }

    &__inner {
        margin-top: 24px;
        display: flex;
        margin-left: -24px;
    }

    &__show {
        margin-left: 24px;
    }

    &__vars {
        margin-top: 24px;
        margin-left: -16px;

        img {
            margin-left: 16px;
        }

        ._active-var {
            border: 3px solid rgba(75, 176, 40, 0.5);
            border-radius: 4px;

        }
    }

    &__aside {

        height: 44px;
        margin-left: 24px;
    }

    &__aside-nav {
        display: flex;
    }

    &__aside-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;

    }

    &__btn {
        margin-left: 118px;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
    }
}

.onbording {
    .steps {
        margin-top: 48px;
    }

    .wpp {
        position: relative;
        padding-left: 32px;

        &::before {
            content: '';
            background-image: url(../images/stack/sprite.svg#wpp-on);
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 24px;
            height: 24px;
        }
    }

    .steps__inner {
        max-width: 100%;
        justify-content: center;
    }

    .button.button1 {
        background: $blue;
        border-radius: 4px;
    }

    &__btn {
        margin: 40px auto;
        height: 70px;
        max-width: 333px !important;
        width: 100%;

    }

    &__subtitle,
    &__title {
        text-align: center;
    }

    &__subtitle {
        margin-bottom: 24px;
    }

    &__title {
        margin-top: 64px;
    }

    &__profile {

        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 870px;
        width: 100%;
        margin: 0 auto;

        &-title {
            font-size: 16px;
            color: $gray;
            line-height: 24px;
            margin-bottom: 4px;

        }

        &-subtitle {
            font-size: 18px;
            line-height: 27px;
            color: $mgr;
        }
    }

    &__subtitle {
        margin-top: 24px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        color: $gray;

        span {
            color: $mgr;
        }
    }
}

.chek {
    ._active-filt {
        span {
            color: $blue;
        }

        svg {
            fill: $blue;
        }
    }

    &__top {
        display: flex;
        margin-top: 40px;
        align-items: center;
    }

    &__back {
        font-size: 16px;
        line-height: 22px;
        color: $blue;
        position: relative;
        padding-left: 32px;
        margin-right: 38px;

        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/stack/sprite.svg#Arrow-back);
            background-size: cover;
            background-position: center;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
        }
    }

    &__title {
        display: block;
        margin-right: auto;

    }

    &__price {
        display: block;
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        color: $mgr;
        margin-right: 40px;
    }

    &__btn {}

    &__filter {
        display: flex;
        margin-top: 40px;

        &-tile {
            margin-right: 24px;
        }

        &-tile,
        &-list {


            display: flex;
            align-items: center;

            span {
                display: block;
                margin-left: 4px;
            }

            svg {
                fill: $gray;
            }

            font-size: 16px;
            line-height: 16px;

            color: $gray;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: -32px;
    }

    &__image {
        max-width: 100%;
        border-radius: 4px;
        object-fit: cover;
        overflow: hidden;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        margin-top: 24px;
    }

    &__card {
        margin-top: 32px;
        width: calc(33.33% - 32px);
        min-height: 100%;
        padding: 24px;
        box-shadow: 0px 24px 24px rgba(19, 116, 207, 0.05);
        border-radius: 16px;

        &-item {
            display: flex;
            align-items: center;
            margin-top: 24px;
            transition: 0.3s all;
            position: relative;
            min-height: 64px;

            &::after {
                display: block;
                content: "";
                opacity: 0;
                visibility: hidden;
                position: absolute;
                height: 72px;
                width: 2px;
                background: #D9E4EF;
                right: -24px;
                top: 0;
            }

            &:hover {
                &::after {
                    visibility: visible;
                    opacity: 1;
                }

                .chek__card-title {
                    color: $mgr;
                }

                .chek__card-btn {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &-title {
            font-size: 16px;
            line-height: 22px;
            color: $gray;
            display: block;
            margin-right: auto;
        }

        &-btn {
            visibility: hidden;
            opacity: 0;
            display: none;
        }

        &-image {
            margin-right: 16px;
        }

        &-select {
            max-width: 384px !important;
            width: 100% !important;
            margin-top: 24px;
        }
    }

    &__option {}

    &__scroll {
        overflow-x: scroll;

        max-width: 1392px;
        margin: 32px auto;
        min-height: 323px;
        padding-top: 24px;
        padding-left: 24px;
        box-shadow: 0px 24px 24px rgba(19, 116, 207, 0.05);
        border-radius: 16px;


        &::-webkit-scrollbar-thumb {
            background: #DDDFE5;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-corner {
            border-radius: 4px;
        }

        &::-webkit-scrollbar-track {

            border-radius: 4px;
            background: #F6F6F9;
            height: 6px;
        }

        &::-webkit-scrollbar {
            height: 6px;
            width: 195px;

            border-radius: 4px;
        }

    }



    &__table {

        &-title {
            padding-bottom: 32px;
            color: $mgr;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            text-align: left;

        }

        width: 1600px;



        tbody {}



        th {
            text-align: left;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: $gray;
            padding-bottom: 24px;

        }

        td {
            padding-bottom: 16px;
            font-size: 18px;
            line-height: 25px;
            font-weight: 400;
            color: $mgr;
        }
    }
}

._red a {
    color: #E42734 !important;
    position: relative;


    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -28px;
        background-position: center;
        background-size: cover;
        background-image: url(../images/stack/sprite.svg#pen);
        width: 24px;
        height: 24px;
    }
}

._gray a {
    color: $gray !important;
    position: relative;


    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -28px;
        background-position: center;
        background-size: cover;
        background-image: url(../images/stack/sprite.svg#greypen);
        width: 24px;
        height: 24px;
    }
}

.myremont__bid {
    display: flex;
    margin-top: 16px;
    align-items: center;

    &-item {
        margin-right: 100px;
    }

    &-title {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 16px;
        color: $gray;
    }

    &-subtitle {
        font-size: 18px;
        line-height: 18px;
        color: $mgr;
    }
}

.myremont__feedback {
    margin-top: 64px;

    &-text {
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
        color: $mgr;

    }
}

.myremont__status {
    margin-top: 64px;
}

.myremont__wrapper {
    &-form {
        margin-bottom: 54px;
    }

    .back-link {
        margin-bottom: 24px;
    }

    &-fieldset {
        max-width: 383px;
        width: 100%;

        select {
            color: $gray;
        }
    }

    &-file {
        margin-bottom: 25px;
    }

    &-textarea {
        outline: none;
        max-width: 680px;
        width: 100%;
        height: 104px;
        border: 1px solid rgba(64, 64, 64, 0.3);
        margin-bottom: 12px;
        border-radius: 4px;
        padding-top: 16px;
        padding-left: 16px;
        margin-top: 16px;
        resize: none;
        color: $mgr;

        &::placeholder {
            font-size: 16px;
            line-height: 22px;
            color: $gray;
            opacity: 0.6;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        li {
            text-align: left;
        }
    }

    &-overflow {
        overflow-x: auto;

        &::-webkit-scrollbar-thumb {
            background: #DDDFE5;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-corner {
            border-radius: 4px;
        }

        &::-webkit-scrollbar-track {

            border-radius: 4px;
            background: #F6F6F9;
            height: 6px;
        }

        &::-webkit-scrollbar {
            height: 6px;
            width: 195px;

            border-radius: 4px;
        }

    }

    &-title {
        font-size: 24px;
        line-height: 36px;
        color: $mgr;
    }

    &-skip>button {
        font-weight: 600;
        font-size: 16px;
        color: $blue;
        line-height: 16px;
        margin-right: 32px;

    }

    &-var {
        margin-right: 124px;
    }

    &-share {
        margin-right: 8px;
    }

    &-option {
        margin-right: auto;

        a {
            display: block;
        }
    }

    &-option,
    &-var {

        font-size: 18px;
        line-height: 25px;
        color: $mgr;
    }

    &-btn {}
}

.myremont__table {
    max-width: 1011px;
    width: 100%;
    border-spacing: 0 16px;

    &-overflow {
        overflow-x: auto;
        max-width: 1011px;

        &::-webkit-scrollbar-thumb {
            background: #DDDFE5;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-corner {
            border-radius: 4px;
        }

        &::-webkit-scrollbar-track {

            border-radius: 4px;
            background: #F6F6F9;
            height: 6px;
        }

        &::-webkit-scrollbar {
            height: 6px;
            width: 195px;

            border-radius: 4px;
        }

    }

}

._gray-status {
    font-size: 18px;
    line-height: 18px;
    color: $gray;
}

._green-status {
    font-size: 18px;
    line-height: 18px;
    color: $gray;
    color: #4BB028;

}

.myremont__attr {
    font-size: 18px;
    line-height: 25px;
    color: $gray;
    text-align: left;

    th {
        font-weight: normal;
        padding-bottom: 24px;
    }

    td {
        margin-bottom: 16px;
        font-weight: 400;
    }
}