//1023
@media(max-width:1270px) {
    .header {
        &__nav {
            margin-left: 20px;

            li+li {
                margin-left: 15px;
            }
        }
    }
}

@media(max-width:1170px) {
    .header {
        &__nav {
            li {
                font-size: 13px;
            }
        }
    }
}

@media(max-width:1116px) {
    .bahandi {
        display: block;
    }

    .header {
        &__inner {
            height: 107px;
        }

        &__logo {
            margin-right: auto;

            img {

                width: 126px;
                height: 43px;
            }
        }

        &__nav {
            display: none;
        }
    }

    .footer {
        &__inner {
            padding: 32px 16px;
        }

        &__logo {
            img {
                width: 132px;
                height: 45px;
            }
        }

        &__nav {
            display: none;
        }

        &__socials {
            margin-left: auto;
            margin-right: 40px;
        }
    }
}

@media(max-width:537px) {
    .footer {


        &__copyright {
            margin-top: 24px;
            flex-direction: column;
            align-items: flex-start;

            span {
                margin-top: 8px;
            }
        }

        &__socials {
            margin: 0 auto;
        }

        &__logo {
            img {
                width: 113px;
                height: 38px;
            }
        }

        &__btn {
            span {
                display: none;
            }

            svg {
                margin-right: 0;
            }

            width: 40px;
            height: 40px;

        }

    }

    .header__inner {

        height: 88px;

    }

    .bahandi {
        margin-right: 0;
    }

    .header__logo {
        margin: 0 auto;

        img {
            width: 105px;
            height: 36px;
        }
    }

    .header__btn {
        span {
            display: none;
        }

        svg {
            margin-right: 0;
        }

        width: 40px;
        height: 40px;

    }

    .header__logo {
        margin: 0 auto;
    }

    .header__tel {
        display: none;
    }
}